openapi: 3.1.0
info:
  title: Petstore Webhooks
  version: 2.0.0
  description: API definition of Petstore Webhooks sample app
  contact:
    name: Laurent Broudoux
    url: http://github.com/lbroudoux
    email: laurent.broudoux@gmail.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
webhooks:
  newPet:
    post:
      requestBody:
        description: Information about a new pet in the system
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pet"
            examples:
              Rusty:
                value: |-
                  {
                    "id": {{ randomInt(1,10) }},
                    "name": "Rusty",
                    "tag": "{{ randomValue(cat, dog) }}"
                  }
      responses:
        "200":
          description: Return a 200 status to indicate that the data was received successfully
          x-microcks-refs:
            - Rusty
components:
  schemas:
    Pet:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
